@model GenericMvcUtilities.ViewModels.UserManager.RoleChangeViewModel

@if (Model.Inline)
{
	<input hidden asp-for="UserId" />
	<div class="form-group">
		<label asp-for="NewRole" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<select asp-for="NewRole" asp-items="ViewBag.Roles" class="form-control"></select>
			<span asp-validation-for="NewRole" class="text-danger"></span>
			<p class="help-block">Form to change the user's primary role</p>
		</div>
	</div>
}
else
{
	<form class="form-horizontal" asp-controller="UserManager" asp-action="ChangePendingUserRole" role="form">
		<div asp-validation-summary="All" class="text-danger"></div>
		<input hidden asp-for="UserId" />
		<div class="form-group">
			<label asp-for="NewRole" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<select asp-for="NewRole" asp-items="ViewBag.Roles" class="form-control"></select>
				<span asp-validation-for="NewRole" class="text-danger"></span>
				<p class="help-block">Form to change the user's primary role</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-primary btn-raised">Change</button>
			</div>
		</div>
	</form>
}