@using GenericMvcUtilities.ViewModels.UserManager
@model LockViewModel

<!-- Lock Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" id="LockModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-danger" id="ModalLabel">
					Lock User
				</h4>
			</div>
			<hr class="shadow-z-1" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<form asp-controller="UserManager" asp-action="LockUser" method="post" class="form-horizontal" role="form">
				<div class="modal-body">
					<input hidden asp-for="Id" />
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group date" id="datetimepicker1">
									<input asp-for="LockOutTime" class="form-control" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>

					<h6 class="text-danger">You are about to lock this User! Do you want to continue?</h6>
				</div>
				<hr class="danger shadow-z-1" />
				<div class="modal-footer">
					<button type="button" class="btn btn-raised" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-raised btn-danger">Lock User</button>
				</div>
			</form>
		</div>
	</div>
</div>