<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Test Website</title>
	<!-- Material Design fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<environment names="Development,Staging,Production">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/material-dist/bootstrap-material-design.css" />
		<link rel="stylesheet" href="~/lib/bootstrap-material-design/dist/css/ripples.css" />
		<link rel="stylesheet" href="~/lib/dropdown.js/jquery.dropdown.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	@RenderSection("stylesheets", required: false)
</head>
<body>
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-controller="Home" asp-action="Index" class="navbar-brand">Test Website</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a asp-controller="Home" asp-action="Index"><i class="material-icons">home</i> Home</a></li>
					<li><a asp-controller="Home" asp-action="About"><i class="material-icons">info_outline</i> About</a></li>
					<li><a asp-controller="Home" asp-action="Contact"><i class="material-icons">mail_outline</i> Contact</a></li>
					<li><a asp-controller="Models" asp-action="Index">Models</a></li>
				</ul>
			</div>
		</div>
	</nav>
	@*style="padding-top: 65px"*@
	<main class="container">
		@RenderBody()
	</main>
	<footer class="parentfooter">
		<div class="container">
			<hr class="shadow-z-2" style="background-color: #0D47A1" />
			<ul class="list-inline">
				<li>Copyright &copy; 2017 Joshua Clark</li>
				<li class="pull-right">Designed And Built By: <a href="mailto:jrc5686@psu.edu">Joshua Clark</a></li>
			</ul>
		</div>
	</footer>
	<environment names="Development,Staging,Production">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		<script src="~/lib/bootstrap-material-design/dist/js/ripples.js"></script>
		<script src="~/lib/bootstrap-material-design/dist/js/material.js"></script>
		<script src="~/lib/dropdown.js/jquery.dropdown.js"></script>
		<script src="~/lib/jquery-autosize/dist/autosize.min.js"></script>
	</environment>
	@RenderSection("scripts", required: false)
	<script>
		$(window).on('load resize', function () {
			$('body').css({ "padding-top": ($(".navbar").height() + 10) + "px" })
		});

		$(document).ready(function () {
			$.material.init();

			autosize(document.querySelectorAll('textarea'));

			$("select").dropdown({ "autoinit": "select" });
		});
	</script>
</body>
</html>