
<div>
	<h1 class="text-primary">Thank You for submitting a Request for Access</h1>
	<h2 class="text-primary">A User Administrator will respond to your request shortly.</h2>
	<ul class="list-inline">
		<li><a class="btn btn-primary btn-raised" asp-controller="Home" asp-action="Index">Take me to the Home Page</a></li>
		<li><a class="btn btn-primary btn-raised" asp-controller="Home" asp-action="Index">Let me Email a User Admin</a></li>
	</ul>
</div>

