@model GenericMvcUtilities.ViewModels.UserManager.Account.ConfirmUserViewModel

<form asp-controller="Account" asp-action="ConfirmUser" method="post" class="form-horizontal" role="form">
	<div asp-validation-summary="All" class="text-danger"></div>
	<input asp-for="PendingUserId"  hidden/>
	<input asp-for="AuthToken" hidden />
	<div class="form-group">
		<label asp-for="FirstName" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="FirstName" class="form-control" disabled/>
			<input asp-for="FirstName" hidden />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="LastName" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="LastName" class="form-control" disabled/>
			<input asp-for="LastName" hidden/>
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Email" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Email" class="form-control" disabled/>
			<input asp-for="Email" hidden />
			<span asp-validation-for="Email" class="text-danger"></span>
			<p class="help-block">This is the email you provided with your account request.</p>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="PhoneNumber" class="form-control" disabled/>
			<input asp-for="PhoneNumber" hidden />
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			<p class="help-block">This is the phone number that was provided with your account request.</p>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="AssignedRole" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="AssignedRole" class="form-control" disabled/>
			<input asp-for="AssignedRole" hidden />
			<span asp-validation-for="AssignedRole" class="text-danger"></span>
			<p class="help-block">This is the role that was assigned to your account by a User Administrator.</p>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Password" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Password" class="form-control" />
			<span asp-validation-for="Password" class="text-danger"></span>
			<p class="help-block">Enter the password you created with your account request.</p>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="NewPassword" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="NewPassword" class="form-control" />
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<p class="help-block">Please Create a new password.</p>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="ConfirmNewPassword" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="ConfirmNewPassword" class="form-control" />
			<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
			<p class="help-block">Please confirm the new password.</p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-default btn-raised">Confirm Account</button>
		</div>
	</div>
</form>

@section Scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
