@model GenericMvc.Test.App.Models.Person

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />
<div class="form-group">
	<label asp-for="Name" class="col-md-2 control-label"></label>
	<div class="col-md-10">
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger" />
	</div>
</div>