<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<!-- Material Design fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<environment names="Development,Staging,Production">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/material-dist/bootstrap-material-design.css" />
		<link rel="stylesheet" href="~/css/material-dist/ripples.css" />
		<link rel="stylesheet" href="~/lib/snackbarjs/dist/snackbar.css"/>
		<link rel="stylesheet" href="~/lib/snackbarjs/themes-css/material.css"/>
	</environment>
	<environment names="Staging,Production">

	</environment>
		@await Html.PartialAsync("~/Views/Shared/SpaStyles.cshtml")
		@await RenderSectionAsync("stylesheets", false)
</head>
<body>
	<div class="header-panel shadow-z-2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-5">
					<h1>@ViewData["Title"]</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="main container-fluid">
		@RenderBody()
	</div>
	@await RenderSectionAsync("modals", required: true)
	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/hammer.js/hammer.js"></script>
		<script src="~/lib/arrive/src/arrive.js"></script>
		<script src="~/lib/bootstrap-material-design/dist/js/ripples.js"></script>
		<script src="~/lib/bootstrap-material-design/dist/js/material.js"></script>
		<script src="~/lib/knockout/dist/knockout.debug.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="~/lib/hammer.js/hammer.min.js"></script>
		<script src="~/lib/arrive/src/minified/arrive.min.js"></script>
		<script src="~/lib/bootstrap-material-design/dist/js/ripples.min.js"></script>
		<script src="~/lib/bootstrap-material-design/dist/js/material.min.js"></script>
		<script src="~/lib/knockout/dist/knockout.js"></script>
	</environment>
		<script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
		<script src="~/lib/knockout-file-bindings/knockout-file-bindings.js"></script>
		<script src="~/lib/knockout-typescript-components-clarkis117/dist/ko-component.js"></script>
		<script src="~/lib/snackbarjs/dist/snackbar.min.js"></script>
		<script src="~/lib/jquery-autosize/dist/autosize.min.js"></script>
	@await RenderSectionAsync("scripts", required: true)
	<script>
		$(document).ready(function () {
			$.material.init();

			autosize(document.querySelectorAll('textarea'));
		});
	</script>
</body>
</html>