@{
	Layout = "~/Views/Shared/_SPALayout.cshtml";
}
@using GenericMvcUtilities.ViewModels.SinglePageApp
@model SinglePageGraph

@{
	ViewData["Title"] = Model.Title;
}

@section StyleSheets {
	<link rel="stylesheet" href="~/css/TableStyle.css" />
}
<div class="row">
	<nav class="menu col-xs-3 well">
		<h3 class="text-primary" data-bind="text: CurrentItemName"></h3>
		<h4 class="text-primary">Menu</h4>
		@*- Page List View Models -*@
		<ul class="nava">
			@foreach (var page in Model.Pages)
			{
				<li class="withripple" data-target="#@page.Id">
					@Html.Raw(page.GetDisplayName())
				</li>
			}
		</ul>
		<ul class="list-inline">
			<li>
				<button title="Saves the current Item" class="btn btn-success" data-bind="click: SaveItem">
					<i class="material-icons">save</i> Save Changes
				</button>
			</li>
			<li>
				<button title="Creates a new Item" class="btn btn-warning" data-bind="click: CreateItem">
					<i class="material-icons">create</i> Create New
				</button>
			</li>
			<li>
				<button title="Exports current Item to File as JSON" class="btn btn-primary" data-bind="click: ExportItemToJson">
					<i class="material-icons">file_download</i> Export JSON
				</button>
			</li>
			<li>
				<button title="Refresh Item List" class="btn btn-primary" data-bind="click: RefreshList">
					<i class="material-icons">refresh</i> Refresh List
				</button>
			</li>
			<li>
				<button title="Deletes current Item" class="btn btn-danger" data-bind="click: DeleteItem">
					<i class="material-icons">delete_forever</i> Delete
				</button>
			</li>
		</ul>
		<h4 class="text-primary">Items</h4>
		<ul class="list-group" data-bind="foreach: $root.ItemList">
			@await Html.PartialAsync(Model.MenuListViewModel.ViewPath, Model.MenuListViewModel.Data)
		</ul>
		<footer class="navbar navbar-fixed-bottom col-xs-3">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					@await Html.PartialAsync("_LoginPartial")
				</div>
			</div>
		</footer>
	</nav>
	<div class="pages col-xs-9">
		<div class="row">
			<div class="col-xs-12">
				@foreach (var page in Model.Pages)
				{
					<div class="well page" id="@page.Id">
						@await Html.PartialAsync(page.ViewPath, page.Data)
					</div>
				}
			</div>
		</div>
	</div>
</div>

@section modals {
	@*- Modal Views for objects with one to many options -*@
	@foreach (var modal in Model.Modals)
	{
		@await Html.PartialAsync(modal.ViewPath, modal.Data)
	}

	<div class="modal fade" id="DeletionConfirmation" tabindex="-1" role="dialog" aria-labelledby="DeletionConfirmation-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<h4 class="text-danger">Are you sure? This Item and all it's children in the database will be Deleted!</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<i class="material-icons">cancel</i> No
					</button>
					<button type="button" class="btn btn-danger" data-bind="click: $root.deleteCurrentItem">
						<i class="material-icons">delete_forever</i> Yes
					</button>
				</div>
			</div>
		</div>
	</div>

	@*Status Message Snack bar here*@
	<span id="StatusMessageId"
		  data-toggle=snackbar
		  data-style="toast"
		  data-html-allowed="true"
		  data-bind="attr: {'data-content': $root.StatusMessageView}">
	</span>
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
		await Html.RenderPartialAsync("~/Views/ModelViews/SpaScripts.cshtml");
		await Html.RenderPartialAsync("~/Views/Shared/SpaNav.cshtml");
	}
}